/* BASE */

body {
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
}

.oculta {
    display: none;
}


/* NAVEGADOR */


header {
    background-color: #f3ece3;
}


#logo img {
    width: 200px;
}

#btnMenu img {
    width: 50px;
    cursor: pointer;
}

#btnMenu img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-out;
}

#btnMenu {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 3;
}


#idioma img {
    width: 50px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 2;
}

#idioma img:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}


#idioma span {
    transition: all .3s ease-in-out;
    margin: 2px;

}


/* EN DISEÑO MÓVIL NO SE MUESTRA EL MENÚ PARA ESCRITORIO */
.menuDesktop {
    margin: 0;
    display: none;

    font-size: 1.2rem;
    position: relative;
    z-index: 2;
}


.menuDesktop li {
    border: 1px solid #c86b4a;
    border-radius: 25px;
    padding: 10px;
    min-width: 50%;
    text-align: center;
    list-style: none;

}

.menuDesktop li:hover {
    background-color: rgba(128, 128, 128, 0.201);
}

.menuDesktop a {
    text-decoration: none;
    transition: all 0.5s ease-out;
    font-size: 1.5rem;
    color: #c86b4a;

}

.menuDesktop a:hover {
    color: black;
}



/* CAMBIO EL DISEÑO A TABLET Y ESCRITORIO */
@media (min-width: 800px) {

    /* En escritorio se muestra el menú completo */
    .menuDesktop {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    /* En escritorio se oculta el botón de hamburguesa */
    #btnMenu {
        display: none;
    }

    .menuDesktop li {
        padding: 10px;
        min-width: 3rem;
        width: 100px;

    }


    .menuDesktop a {

        font-size: 1.2rem;


    }

    header {
        display: flex;
        padding-top: 1rem;
        align-items: center;
        justify-content: start;
        position: relative;
    }

    #idioma {
        display: block;
        position: absolute;
        top: 1rem;
        right: 100px;

    }

    #logo img {
        width: 300px;
    }


}


@keyframes abreCaja {
    from {
        transform: scaleY(0%);
    }

    to {
        transform: scaleY(100%);
    }
}



/* AL DESPLEGAR EL MENU EN EL MÓVIL */
.menuDesplegado {
    background-color: #f3ece3;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    position: absolute;
    left: 0;
    right: 0;
    /* ESTO NECESITA AJUSTE (top): LA POSICIÓN DE LA VENTANA DESPLEGADA */
    top: 0;

    padding: 1rem;
    padding-top: 8rem;
    font-size: 1.3rem;

    animation-name: abreCaja;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    transform-origin: top;
}

